@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-green: #90EE90;
  --yellow: #FFD700;
  --dark-green: #228B22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-green: var(--light-green);
  --color-yellow: var(--yellow);
  --color-dark-green: var(--dark-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
